._*
.bundle
.byebug_history
.env
.pryrc
.sass-cache
config/master.key
coverage/*
db/*.sqlite3
log/*.log
public/uploads
rerun.txt
spec/examples.txt
storage/*
tmp/*
vendor/bundle
vendor/cache
vendor/ruby
